#login-card {
    background-image: linear-gradient(#1f6fb2,#ddd ) !important;
    color:#fff;
}
#coldChainMap{

    position: relative;
}
#coldChainMapHelp{
    width: 200px;
    position: absolute;
    top: 50pt   ;
    right: 10pt;
    z-index: 1000;
}
#coldChainMapHelp img{
height: 25px;
}